<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="page-inner" th:fragment="content">
    <div class="page-title">
        <h3>Form Elements</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Form Elements</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title" th:utext="${track.getArtist().getName() + ' - ' + track.getName() + ' -  Track'}"></h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal saveTrack" th:data-id="${track.getId()}">

                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Track Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" id="name" th:value="${track.getName()}" placeholder="Track Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="artist" class="col-sm-2 control-label">Artist Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="artist" id="artist" th:value="${track.getArtist().getName()}" placeholder="Artist Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="album" class="col-sm-2 control-label">Album Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="album" id="album" th:value="${track.getAlbum().getName()}" placeholder="Album Name">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="year" class="col-sm-2 control-label">Year:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="year" id="year" th:value="${track.getYear()}" placeholder="Year">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="duration" class="col-sm-2 control-label">Duration:</label>
                                <div class="col-sm-10">
                                    <input style="width: 100px;" type="text" class="form-control" name="duration" id="duration" th:data-duration="${track.getDuration()}" th:value="${track.getFormattedDuration()}" placeholder="Duration" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="size" class="col-sm-2 control-label">Size:</label>
                                <div class="col-sm-10">
                                    <input style="width: 100px;" type="text" class="form-control" name="size" id="size" th:data-size="${track.getSize()}" th:value="${track.getFormattedSize()}" placeholder="Size" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="bitrate" class="col-sm-2 control-label">Bitrate:</label>
                                <div class="col-sm-10">
                                    <input style="width: 100px;" type="text" class="form-control" name="bitrate" id="bitrate" th:data-bitrate="${track.getBitrate()}" th:value="${track.getBitrate() + ' kbps'}" placeholder="bitrate" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sampleRate" class="col-sm-2 control-label">Sample Rate:</label>
                                <div class="col-sm-10">
                                    <input style="width: 100px;" type="text" class="form-control" name="sampleRate" id="sampleRate" th:data-sample-rate="${track.getSampleRate()}" th:value="${track.getSampleRate() + ' HZ'}" placeholder="SampleRate" disabled>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Save Track</button>
                            <button type="button" class="btn btn-danger" id="deleteTrackModalFocus" data-toggle="modal" data-target="#deleteTrackModal">Delete Artist</button>
                        </form>


                        <!-- Modal -->
                        <div class="modal fade" id="deleteTrackModal" tabindex="-1" role="dialog" aria-labelledby="deleteTrackModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteTrackModalLabel">Deleting Track</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p>
                                                You are about to delete Track.
                                            </p>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="modal-footer">
                                            <button type="button" id="cancelDeleteTrack"class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="button" id="confirmDeleteTrack" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<sc th:if="${cssSwitcher.isPermitted()}" th:fragment="endScript">

    <script src="/adm/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="/adm/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>


    <style>
        th.normal_font {
            font-weight: normal;
            padding-left: 10px;
        }
        i.silver {
            color: #bfbcbc;
            font-size: 11px;
        }
        .select2-results__option--highlighted table tr th i.silver {
            color: #fff;
        }
        .customsize {
            min-height: 36px;
        }
        .select2-search__field {
            width: 100%!important;
        }
        #toast-container > div:hover{
            opacity: 1;
            box-shadow: 0px 0px 14px 0px #000;
            cursor: pointer;
        }
    </style>
    <script src="/adm/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/adm/assets/plugins/summernote-master/summernote.min.js"></script>
    <script src="/adm/assets/js/pages/form-elements.js"></script>

    <link href="/adm/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
    <link href="/adm/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css"/>
    <link href="/adm/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css"/>
    <!--<script src="/adm/assets/js/pages/form-select2.js"></script>-->
    <script src="/adm/assets/plugins/select2/js/select2.js"></script>
    <link href="/adm/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <script src="/adm/assets/js/pages/notifications.js"></script>
    <link href="/adm/assets/plugins/toastr/toastr.min.css" rel="stylesheet"/>
    <script src="/adm/assets/plugins/toastr/toastr.min.js"></script>

    <script type="text/javascript">

        //needs to fix bug
        var all_ = true;
        // end
        $(document).ready(function() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


            $('.saveTrack').on('submit', function(){

                var trackId = $(this).data('id');

                var trackName = $(this).find('input[name=name]').val();
                var artistName = $(this).find('input[name=artist]').val();
                var albumName = $(this).find('input[name=album]').val();
                var year = $(this).find('input[name=year]').val();

                var formData = new FormData();
                formData.append('action', 'edit');
                formData.append('trackId', trackId);
                formData.append('trackName', trackName);
                formData.append('artistName', artistName);
                formData.append('albumName', albumName);
                formData.append('year', year);



                if (trackName.length < 2) {
                    document.getElementById("textmodal").innerHTML = "Track Name is empty or lesser than 2 characters!";
                    document.getElementById("modal_").click();
                } else if (artistName.length < 2){
                    document.getElementById("textmodal").innerHTML = "Artist Name is empty or lesser than 2 characters!";
                    document.getElementById("modal_").click();
                } else {

                    $.ajax({
                        url: '/ajax/track',
                        type: 'post',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(data){
                            if (data.status == 'success') {
                                toastr["success"]("Track (" + artistName + " - " + trackName + ") edited successfuly.", "Success");

                                //setTimeout(goTo, 1500, data.redirect);
                            } else if (data.status == 'error'){
                                toastr["error"](data.error_code, "Oops");
                            } else {
                                toastr["error"]("Some undefined error occured.", "Oops");
                            }
                        },
                        error: function(){
                            document.getElementById("textmodal").innerHTML = "Error, I can't connect with the server...";
                            document.getElementById("modal_").click();
                        }
                    });

                }
                return false;
            });




            $('#deleteTrackModalFocus').on('click', function(){

            });


            $('#confirmDeleteTrack').on('click', function(){
                var trackId = $('.saveTrack').data('id');
                $.post('/ajax/track', {
                    action: 'delete',
                    trackId: trackId
                }, function(data, status) {
                    if (status == 'success') {
                        if (data.status == 'success') {

                            $('#cancelDeleteTrack').click();
                            toastr["success"]("You have successfuly deleted track.", "Success!");

                            setTimeout(goTo, 2000, data.redirect);

                        } else if (data.status == 'error') {
                            $('#cancelDeleteTrack').click();
                            toastr["error"]("Error, " + data.error_code, "Oops!");

                        } else {
                            $('#cancelDeleteTrack').click();
                            toastr["error"]("Error, undefined error occured.", "Oops!");
                        }
                    } else {
                        $('#cancelDeleteTrack').click();
                        toastr["error"]("Error, I can't connect with the server...", "Oops!");
                    }
                });

                return false;
            });

            function goTo(redirect) {
                window.location.href = redirect;
            }

        });
    </script>
</sc>
</html>