

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">




<content th:fragment="content">


<!-- =============== START BREADCRUMB ================ -->
<section class="no-mb">
	<div class="row">
		<div class="col-sm-12">
			<div class="before-FullscreenSlider"></div>
			<div class="breadcrumb-fullscreen-parent phone-menu-bg">
				<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" th:style="'background-image: url(' + ${artist.getImage()} + ');'" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
					<div class="breadTxt">
						<h1 th:utext="${artist.getName()}">

						</h1>
						<p th:if="${shortBiography != null}" th:utext="${shortBiography}">

						</p>
						<a th:if="${shortBiography != null}" href="#content" data-easing="easeInOutQuint" data-scroll="" data-speed="900" data-url="false">
							View More <i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =============== END BREADCRUMB ================ -->

<!-- =============== START BLOG SINGLE ================ -->
<section class="blogSingle padding" id="content">
	<div class="container">
		<div class="row">
			<div class="blog-left">
				<div class="col-sm-8">
					<div class="owl-carousel" th:if="${gallery.size() > 0}">
						<div class="item" th:each="image: ${gallery}">
							<img th:src="${image.getImage()}" alt="">
						</div>
					</div>

					<div class="widget"  th:if="${gallery.size() > 0}">
						<br>
						<a style="color: #7070a2;" th:href="${'/gallery?id=' + artist.getId()}"> <h3 class="widget-title">See Photo Gallery</h3></a>
					</div>
					<div class="admin-list clearfix">
						<ul>
							<li th:utext="${artist.getFormattedBirthDate()}"></li>
						</ul>
					</div>
					<div class="title">
						<h2>Biography</h2>
					</div>
					<div class="paragraph" th:utext="${artist.getBiography()}">

					</div>

					<div class="author-info">
						<div class="left-author-info">
							<figure>
								<img th:src="${artist.getUser().getImage()}" alt="${artist.getUser().getName() + ' ' + artist.getUser().getLastName()}">
							</figure>
						</div>
						<div class="right-author-info">

								<h1 th:utext="'By <a href=\'user?id=' + ${artist.getUser().getId()} + '\'>' + ${artist.getUser().getName() + ' ' + artist.getUser().getLastName()} + '</a>'">

								</h1>
								<p>
									<div>Role: <span th:utext="${artist.getUser().getRoleName()}"></span></div>
								</p>
						</div>
					</div>



				</div><!-- end col-sm-8 -->
			</div><!-- end blog-left -->
			<div class="blog-right">
				<div class="col-sm-3 col-sm-offset-1">
					<div class="blogSidebar">

						<div class="widget">
							<h3 class="widget-title">Albums</h3>
							<ul>
								<a th:href="'album?id=' + ${album.getId()}" th:each="album: ${albums}">
									<li th:utext="${album.getName() + ' <span>(' + numberOfTracksByAlbum.findAllByAlbumAndIsVerified(album, 1).size() + ')</span>'}" >

									</li>
								</a>
							</ul>
						</div><!-- end widget -->
						<div class="widget">
							<h3 class="widget-title">Last 10 Added Tracks</h3>
							<ul>
								<a th:href="'track?id=' + ${track.getId()}" th:each="track: ${lastTracks}">
									<li th:utext="${track.getName()}" >

									</li>
								</a>
							</ul>
						</div><!-- end widget -->
					</div><!-- end blogSidebar -->
				</div><!-- end col-sm03 -->
			</div><!-- end blog-right -->
		</div><!-- end row -->
	</div><!-- end container -->
</section>
<!-- =============== END BLOG SINGLE ================ -->
</content>

<sc th:if="${cssSwitcher.isPermitted()}" th:fragment="endScript">

</sc>
</html>