<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Home-Page-Star</title>
	<link rel="icon" href="assets/img/content/icon.png">
	<!-- ========== CSS INCLUDES ========== -->
	<link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
	<div class="page-loader">
		 <div class="vertical-align align-center">
			  <img src="assets/loader/loader.gif" alt="" class="loader-img">
		 </div>
	</div>

	<!-- =============== START PLAYER ================ -->
	<div class="main-music-player">
		<a class="hide-player-button">
			<i class="fa fa-plus"></i>
			<i class="fa fa-minus"></i>
		</a>
		<div id="mesh-main-player" class="jp-jplayer" data-audio-src="assets/audio/flute.mp3" data-title="See right through ft. Fiora" data-artist="Tensnake"></div>
		
		<div id="mesh-main-player-content" class="mesh-main-player" role="application" aria-label="media player">
			<div class="container">
				<div class="row">
					<div class="left-player-side">
						<div class="mesh-prev">
							<i class="fa fa-step-backward"></i>
						</div>
						<div class="mesh-play">
							<i class="fa fa-play"></i>
						</div>
						<div class="mesh-pause">
							<i class="fa fa-pause"></i>
						</div>
						<div class="mesh-next">
							<i class="fa fa-step-forward"></i>
						</div>
						<button id="playlist-toggle" class="jplayerButton">
							<span class="span-1"></span>
							<span class="span-2"></span>
							<span class="span-3"></span>
						</button>
					</div>
					<div class="center-side">
						<div class="mesh-current-time">
						</div>
						<div class="mesh-seek-bar">
							<div class="mesh-play-bar">
							</div>
						</div>
						<div class="mesh-duration">
						</div>
					</div>
					<div class="right-player-side">
						<div class="mesh-thumbnail">
							<img src="assets/img/albums/cover3.jpg" alt="">
						</div>
						<div class="mesh-title">
						</div>
						<div class="mesh-artist">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- =============== END PLAYER ================ -->

	<!-- =============== START PLAYLIST ================ -->
	<div class="playlist-wrapper" id="playlist-wrapper">
		<div class="jp-playlist container">
			<div class="about-list clearfix">
				<span class="about-name">NAME</span>
				<span class="about-length">LENGTH</span>
				<span class="about-available">Action</span>
			</div>
			<div class="trak-item" th:data-audio="${track.getListenLink()}" th:data-artist="${track.getArtist().getName()}" th:data-thumbnail="${track.getImage()}" th:data-id="'trak-' + ${track.getId()}" th:each="track: ${favoriteTracks}">
				<audio preload="metadata" th:src="${track.getListenLink()}" th:title="${track.getName()}"></audio>
				<div class="additional-button">
					<div class="center-y-table">
						<a th:href="${track.getDownloadLink()}" download>
							<i class="fa fa-download"></i>
						</a>

						<div th:data-id="${track.getId()}" th:class="'favorite favorited'">
							<i class="fa fa-heart"></i>
						</div>
					</div>
				</div>
				<div class="play-pause-button">
					<div class="center-y-table">
						<i class="fa fa-play"></i>
					</div>
				</div>
				<div class="name-artist">
					<div class="center-y-table">
						<h2 th:utext="${track.getArtist().getName() + ' - ' + track.getName()}"> </h2>
					</div>
				</div>
				<time class="trak-duration" th:utext="${track.getFormattedDuration()}">

				</time>
			</div>
		</div>
	</div>
	<!-- =============== END PLAYLIST ================ -->
	
	<!-- =============== START TOP HEADER ================ -->
	<div class="topHeader" >
		<div class="header">
			<div class="rightTopHeader">
				<div class="cartContainer">
					<div class="myCart">
						<ul th:if="${isLoggedIn}">
							<li class="cartTitle">PROFILE</li>
						</ul>
						<ul th:if="${!isLoggedIn}">
							<li class="cartTitle">LOGIN</li>
						</ul>
					</div><!-- end myCart -->
					<div class="cartParent">
						<div class="cartItems">
							<ul th:if="${isLoggedIn}">
								<li>
									<style>
										.customProfile {
											padding: 0;
											margin: 0;
											display: block;
											font-size: 1.5rem;
											font-family: 'Karla', sans-serif;
											font-weight: 600;
											color: #525252;
											position: relative;
										}
									</style>
									<div class="priceCart" >
										<input type="hidden" id="userId" th:value="${user.getId()}">
										<img th:src="${user.getImage()}" alt="">
										<div class="customProfile" th:utext="${user.getName() + ' ' + user.getLastName()}"> </div>
										<p>Role: <span th:utext="${user.getRoleName()}"></span></p>
										<p>Tracks: <span th:utext="${userTracksNumber}"></span></p>
									</div>
								</li>

							</ul>
							&nbsp;
							<button th:if="${isLoggedIn}" href="/admin/home" class="single_add_to_cart_button button alt customLink buttonCheck">
								Control Panel
							</button>
							<button th:if="${isLoggedIn}"href="/logout"  class="single_add_to_cart_button button alt customLink buttonCheck">
								Logout
							</button>

							<button th:if="${!isLoggedIn}"href="/registration"  class="single_add_to_cart_button button alt customLink buttonCheck">
								Registration
							</button>
							<button th:if="${!isLoggedIn}" href="/login" class="single_add_to_cart_button button alt customLink buttonCheck">
								Login
							</button>



						</div><!-- end cartItems -->
					</div><!-- end cartParent -->
				</div><!--end cartContainer  -->
				<!-- Open Menu Button -->
				<a class="open-menu">
					<!-- Buttons Bars -->
					<span class="span-1"></span>
					<span class="span-2"></span>
					<span class="span-3"></span>
				</a>
			</div>
		</div><!-- end header -->
		<!-- Menu Fixed Container -->
		<div class="menu-fixed-container">
			<!-- Menu Fixed Centred Container -->
			<nav>
				<!-- Menu Fixed Close Button -->
				<div class="x-filter">
					<span></span>
					<span></span>
				</div>
				<!-- Menu Fixed Primary List -->
				<ul>
					<!-- Menu Fixed Item -->
					<li>
						<a href="/">
							Home
						</a>
					</li>
					<!-- Menu Fixed Item -->
					<li>
						<a href="#">
							Artists
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="/artists">
									All Artists
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="/artists/top">
									Top Artists
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="#">
							Albums
						</a>
						<ul class="sub-menu">
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="/albums">
									All Albums
								</a>
							</li>
							<!-- Menu Fixed Sub Menu Item -->
							<li>
								<a href="/albums/top">
									Top Albums
								</a>
							</li>
						</ul>
					</li>
					<!-- Menu Fixed Item -->

					<li th:if="${isLoggedIn}">
						<a href="/admin/home">
							Contorol Panel
						</a>
					</li>
					<li th:if="${!isLoggedIn}">
						<a href="/login">
							Login
						</a>
					</li>
					<li th:if="${!isLoggedIn}">
						<a href="/registration">
							Registration
						</a>
					</li>
					<!-- Menu Fixed Item -->
					<li th:if="${isLoggedIn}">
						<a href="/logout">
							logout
						</a>
					</li>
				</ul>
				<!-- Menu Fixed Close Button -->
				<div class="x-filter">
					<span></span>
					<span></span>
				</div>
			</nav>
		</div><!-- end menu-fixed-container -->
		<!-- =============== STAR LOGO ================ -->
		<div class="logo-container-top">
			<a href="index.html"><img src="assets/img/logo/whiteLogo.png" alt="Aqura"></a>
		</div><!-- end logo-container-top -->
		<!-- =============== END LOGO ================ -->
	</div><!-- end topHeader -->
	<!-- =============== END TOP HEADER ================ -->

	<!-- =============== START BREADCRUMB ================ -->
	<section class="no-mb">
		<div class="row">
			<div class="col-sm-12">
				<div class="breadcrumb-fullscreen-parent phone-menu-bg">
					<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url('assets/img/starHomePage/star.jpg');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
						<div id="home" style="position: absolute;left: 0;top: 0;">
							<div class="intro-header">
								<div class="js-height-full star" style="height: 955px;">
									<div class="star-pattern-1 js-height-full" style="height: 994px;"></div>
									<div class="col-sm-12"> 
										<div class="starTitle">
											<h4>Theme Brothers</h4>
											<div class="grid__item">
						                		<h1>
								                	<a class="link link-yaku" href="#">
														<span>A</span><span>Q</span><span>U</span><span>R</span><span>A</span>					
													</a>
										        </h1>
						                	</div>
											<h4>Template</h4>
										</div>
										<canvas class="cover" width="1920" height="955"></canvas>
									</div>
								</div>
							</div>
	   					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END BREADCRUMB ================ -->
	
	<!-- =============== START ALBUM COVER SECTION ================ -->
	<section class="padding albumsHome">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="sectionTitle paddingBottom">
						<span class="heading-t3"></span>
						<h2><a href="/albums">Discography</a></h2>
						<span class="heading-b3"></span>
					</div><!-- end sectionTtile -->
				</div><!-- end col-sm-12 -->
			</div>
			<div class="list-albums">
				<ul class="list-feature col-md-12 col-xs-12 col-sm-12">
					<li class="col-md-3 col-sm-3 col-xs-12" th:each="album: ${albums}">
						<div class="album-icon">
							<span class="thumbs-album">
								<a th:href="'/album?id=' + ${album.getId()}"><img style="width: 270px; height: 270px;" th:src="${album.getImage()}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
							<span class="disk" th:style="'background: url(' + ${album.getImage()} + ') no-repeat center center; border-radius: 100px;  background-size: cover; '"></span>
						</div><!-- END ALBUM ICON -->
						<div class="name">
							<h3 th:utext="${album.getName()}"></h3>
							<p><a th:href="'artist?id=' + ${album.getArtist().getId()}" th:utext="${album.getArtist().getName()}"></a> </p>
						</div><!-- end name -->
					</li>
				</ul>
			</div><!-- end list-albums -->
		</div><!-- end container -->
	</section>
	<!-- =============== END ALBUM COVER SECTION ================ -->

	<!-- =============== START EVENTS SECTION-1 ================ -->
	<section style="background-image: url(assets/img/events/home-events-1.jpg);" class="background-properties paddingHomeEvents">
		<div class="tableEvents">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="sectionTitle paddingBottom">
							<span class="heading-t3"></span>
							<h2><a href="events.html">Events</a></h2>
							<span class="heading-b3"></span>
						</div><!-- end sectionTtile -->
						<table>
							<tr class="tableEventsTitle">
								<th class="date">Date</th>
								<th class="venue">Venue</th>
								<th class="location">Location</th>
								<th class="tickets">Tickets</th>
								<th></th>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
							<tr>
								<td class="aqura-date"><a href="#"><i class="fa fa-plus"></i></a><a href="singleEvent.html">Mar 06</a></td>
								<td class="aqura-location"><a href="singleEvent.html">Central Park</a></td>
								<td class="aqura-city"><a href="singleEvent.html">Cluj Napoca, Bontida Romania</a></td>
								<td class="aqura-tickets"><a href="singleEvent.html">Tickets</a></td>
								<td class="aqura-vip"><a href="singleEvent.html">RSVP</a></td>
							</tr>
						</table>
					</div><!-- end col-sm-12 -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end tableEvents -->
	</section>
	<!-- =============== END EVENTS SECTION-1 ================ -->

	<!-- =============== START EVENTS SECTION-2 ================ -->
	<section class="padding countdownSection background-properties" style="background-image: url(assets/img/events/nextEvent.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="countdownTitle">
						<h4>Next Event</h4>
						<a href="singleEvent.html"><img src="assets/img/events/box.png" alt="Event"></a>
					</div>
					<div class="sm-countdown sm_content_element sm-style2" id="sm_countdown-19" data-date="2016/10/23">
						<div class="displayCounter">
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element days" readonly="readonly" data-min="0" data-max="365" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit days-title">days</span>
								</div>
							</div>	
							<div class="column">
								<div class="sm_countdown_inner">
									<input class="element hour" readonly="readonly" data-min="0" data-max="24" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit hours-title">hrs</span>
								</div>
							</div>	
							<div class="column"> 
								<div class="sm_countdown_inner">
									<input class="element minute" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit mins-title">min</span>
								</div>
							</div>
							<div class="column"> 
								<div class="sm_countdown_inner">
									<input class="element second" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
									<span class="unit secs-title">sec</span>
								</div>
							</div>
						</div>
					</div><!-- end sm-countdown -->
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END EVENTS SECTION-2 ================ -->

	<!-- =============== START HOME-BLOG SECTION ================ -->	
	<section class="padding background-properties blogHomeSection" style="background-image: url(assets/img/blog/blog-home.jpg);">	
		<div class="container">
			<div class="row">
				<div class="sectionTitle paddingBottom">
					<span class="heading-t3"></span>
					<h2><a href="blogGrid.html">News</a></h2>
					<span class="heading-b3"></span>
				</div><!-- end sectionTtile -->
				<div class="col-sm-4">
					<div class="blogBox">	
						<div class="imgBox"><img src="assets/img/blog/box-img.jpg" alt="box-img"></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Gallery Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">08 dec 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="blogSingle.html">Read More</a>
							</div>			
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->	
				<div class="col-sm-4">
					<div class="blogBox">	
						<div class="videoBox"><iframe width="560" height="315" src="https://www.youtube.com/embed/CD1CYMPNSis" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Video Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">28 apr 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="blogSingle.html">Read More</a>
							</div>			
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->	
				<div class="col-sm-4">
					<div class="blogBox">	
						<div class="soundcloudBox"><iframe height="203" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/73595878&amp;color=bb9b69&amp;show_artwork=false&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe></div>
						<div class="blogBoxContent">
							<div class="blogHeader">
								<h1><a href="blogSingle.html">Soundcloud Post</a></h1>
							</div>
							<div class="admin-list clearfix">
								<ul>
									<li><a href="#">08 dec 2016</a>&nbsp;/&nbsp;</li>
									<li><a href="#">By Admin</a></li>
								</ul>
							</div><!-- end admin-list -->
							<div class="blogParagraph">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
							</div><!--end blogParagraph  -->
							<div class="rmButton">
								<a href="blogSingle.html">Read More</a>
							</div>			
						</div><!-- end blogBoxContent -->
					</div><!-- end blogBox -->
				</div><!-- end col-sm-4 -->	
			</div><!-- end container -->	
		</div><!-- end row -->	
	</section>
	<!-- =============== END HOME-NLOG SECTION ================ -->	

	<!-- =============== START TWITTER SECTION ================ -->
	<section class="padding background-properties" style="background-image: url(assets/img/content/twitterBgk.jpg);">
		<div class="twitter">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="twitterLogo">
							<a href="#"><img src="assets/img/content/twitterLogo.png" alt="twitterLogo"></a>
							<a href="#" class="linkTwitter">@ThemeBrothers</a>
						</div>
						<p>AQURA - Creative Theme for dj, bands and musicians #HTML#Theme now available on #ThemeForest - <a href="https://twitter.com/electric_castle" class="twitter-follow-button" data-show-count="false">Follow @electric_castle</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END TWITTER SECTION ================ -->

	<!-- =============== START VIDEO SECTION ================ -->
	<section class="videoHome padding">
		<div class="container">
			<div class="row">
				<div class="sectionTitle">
					<span class="heading-t3"></span>
					<h2><a href="video.html">Upload Video</a></h2>
					<span class="heading-b3"></span>
					<p>Check out my latest videos and follow me on <a href="#">Youtube</a> & <a href="#">Vimeo</a> to view more.</p>
				</div><!-- end sectionTtile -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VV-Q-aRHTDE"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VxG5C4q_rEs"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
				<div class="col-sm-4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/OkbuRa1o1wA"  allowfullscreen></iframe>
				</div><!-- end col-sm-4 -->
			</div>
		</div>
	</section>
	<!-- =============== END VIDEO SECTION ================ -->

	<!-- =============== START GALLERY SECTION ================ -->
	<section style="padding-bottom:0; padding-top:0;">
		<div class="gallerySection">
			<div class="container-fluid" style="padding:0;">
				<div class="col-sm-12">
					<!-- Content Container -->
					<div class="content-container clearfix">
						<!-- Single Album Container -->
						<div class="single-photo-album-container">
							<div class="row">
								<!-- Single Album Article -->
								<article class="col-sm-12 col-md-6 col-xs-12">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<!-- Single Album Image -->
											<div class="hovereffect">
												<img class="img-responsive" src="assets/img/content/g1.jpg" alt="">
												<div class="overlay">
												   <a class="info lightbox" href="assets/img/bigGallery/1.jpg"></a>
												</div>
											</div>
										</figcaption>
										<!-- Single Album View Button -->
										
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/content/g2.jpg" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/bigGallery/2.jpg"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/content/g3.jpg" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/bigGallery/3.jpg"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/content/g4.jpg" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/bigGallery/4.jpg"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-3 col-xs-6">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/content/g5.jpg" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/bigGallery/5.jpg"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>
								<!-- Single Album Article -->
								<article class="col-sm-12 col-md-6 col-xs-12">
									<!-- Single Album Contant Container -->
									<figure>
										<!-- Single Album Image -->
										<figcaption>
											<div class="hovereffect">
											<img class="img-responsive" src="assets/img/content/g6.jpg" alt="">
											<div class="overlay">
											   <a class="info lightbox" href="assets/img/bigGallery/6.jpg"></a>
											</div>
										</div>
										</figcaption>
									</figure>
								</article>								
							</div>
						</div>
					</div>
				</div>
			</div><!-- end container -->
		</div>
	</section>
	<!-- =============== END GALLERY SECTION ================ -->

	<!-- =============== START HOME-SHOP SECTION ================ -->
	<section class="shopHomePage shopHomePadding">
		<div class="shopSection">
			<div class="container-fluid">
			<div class="shopContent">
				<div class="sectionTitle paddingBottom">
					<span class="heading-t3"></span>
					<h2><a href="shop.html">Shop Online</a></h2>
					<span class="heading-b3"></span>
				</div><!-- end sectionTtile -->	
				<div class="row">
					<nav class="shop-products">
						<ul class="clearfix">
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/content/shop1.jpg" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/content/shop2.jpg" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/content/shop3.jpg" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
							<li class="col-sm-3">
								<figure>
									<figcaption>
										<img src="assets/img/content/shop4.jpg" alt="">
									</figcaption>
									<div class="content">
										<div class="shopHover">
											<div class="price">
												&pound; 15,99
											</div>
											<div  class="proTitle">
												<a href="shopSingle.html">Original T. Brothers</a>
											</div>
											<div class="product">Hoodie Aqura</div>
											<a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a>
											 <a href="shopSingle.html" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
										</div>
									</div>
								</figure>
							</li>
						</ul>
					</nav><!-- end shop-products -->
				</div><!-- end row -->
			</div><!-- end shopContent -->
		</div>
		</div>
	</section>
	<!-- =============== END HOME-SHOP SECTION ================ -->

	<!-- =============== START FOOTER ================ -->
	<section style="background-color:#eeeeee;">
		<div class="footer footerPadding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="copyFooter">
							<a href="#">&copy; Aqura 2016</a>
						</div>
					</div>
					<div class="col-sm-4">
						<nav class="social-icons">
							<ul class="clearfix">
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-twitter"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-facebook"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-apple"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-lastfm"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-soundcloud"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-youtube-play"></i><span></span></a></li>
								<li><a href="#" class="icon-button shopIcon"><i class="fa fa-vimeo"></i><span></span></a></li>  
							</ul>
						</nav>
					</div>
					<div class="col-sm-4">
						<div class="goTop back-to-top" id="back-to-top">
							<i class="fa fa-angle-up"></i>
							<a href="#">Go Top</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =============== END FOOTER ================ -->

	<!-- ================================================== -->
	<!-- =============== START JQUERY SCRIPTS ================ -->
	<!-- ================================================== -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/jplayer/jplayer/jquery.jplayer.js"></script>
	<script src="assets/js/jPlayer.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/main.js"></script>
	<!--[if lte IE 9 ]>
		<script src="assets/js/placeholder.js"></script>
		<script>
			jQuery(function() {
				jQuery('input, textarea').placeholder();
			});

		</script>
	<![endif]-->

	<script>
        $( document ).ready(function() {
            $('button.customLink').click(function () {

                console.log("clicked");

                var linkToGo = $(this).attr('href');
                window.location.href = linkToGo;
            });


            $('.favorite').on('click', function(){

                var thatObj = $(this);
                var userId = $('#userId').val();
                var trackId = $(this).data('id');

                var formData = new FormData();
                formData.append('action', 'common');
                formData.append('userId', userId);
                formData.append('trackId', trackId);

                if (userId == null) {
                    alert("You haven't logged in yet");
                } else {
                    $.ajax({
                        url: '/ajax/favorite',
                        type: 'post',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(data){
                            if (data.status == 'success') {
                                if (data.message == 'added'){
                                    thatObj.removeClass("not-favorited");
                                    thatObj.addClass("favorited");
								} else if (data.message == 'removed') {
                                    thatObj.removeClass("favorited");
                                    thatObj.addClass("not-favorited");
								}
                            } else if (data.status == 'error'){
                                alert(data.error_code);
                            } else {
                                alert("Some undefined error occured.");
                            }
                        },
                        error: function(){
                            alert("Error, I can't connect with the server...");
                        }
                    });

                }
                return false;
            });
        });
	</script>
	<!-- ================================================== -->
	<!-- =============== END JQUERY SCRIPTS ================ -->
	<!-- ================================================== -->
</body>
</html>