

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">




<content th:fragment="content">
<!-- =============== START BREADCRUMB ================ -->
<section class="no-mb">
	<div class="row">
		<div class="col-sm-12">

			<div class="breadcrumb-fullscreen-parent phone-menu-bg">
				<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url('/assets/img/album.jpg');" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
                    <div class="breadTxt">
                        <h1>
							John O'Donohue
                        </h1>
                        <p>
							The human soul is hungry for beauty; we seek it everywhere - in landscape, music, art, clothes, furniture, gardening, companionship, love, religion, and in ourselves. No one would desire not to be beautiful. When we experience the beautiful, there is a sense of homecoming.
						</p>
                        <a href="#content" data-easing="easeInOutQuint" data-scroll="" data-speed="900" data-url="false">
                            View All Albums <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<!-- =============== END BREADCRUMB ================ -->

<!-- =============== START BLOG FILTER ================ -->
<section class="aquraFilter paddingGrid albumFilter" id="content">
	<div class="container">
		<!-- start filter -->
        <div class="sectionTitle paddingBottom">
            <h2>Top Albums</h2>
        </div>
		<div class="aqura-filter-content list-albums">
			<ul class="list-feature clearfix">
                <li class="col-md-3 col-sm-3 col-xs-12" th:each="album: ${topAlbums}">
                    <div class="album-icon">
							<span class="thumbs-album">
								<a th:href="'/album?id=' + ${album.getId()}"><img style="width: 270px; height: 270px;" th:src="${album.getImage()}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
                        <span class="disk" th:style="'background: url(' + ${album.getImage()} + ') no-repeat center center; border-radius: 100px;  background-size: cover; '"></span>
                    </div><!-- END ALBUM ICON -->
                    <div class="name">
                        <h3 th:utext="${album.getName()}"></h3>
                        <p><a th:href="'artist?id=' + ${album.getArtist().getId()}" th:utext="${album.getArtist().getName()}"></a> </p>
                    </div><!-- end name -->
                </li>
			</ul>
		</div><!-- end aqura-filter-cotent -->
		<!-- end filter -->
	</div><!-- end container -->
</section>
<!-- =============== END BLOG FILTER ================ -->

</content>

<sc th:if="${cssSwitcher.isPermitted()}" th:fragment="endScript">

</sc>
</html>