

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">




<content th:fragment="content">


<!-- =============== START BREADCRUMB ================ -->
<section class="no-mb">
	<div class="row">
		<div class="col-sm-12">
			<div class="before-FullscreenSlider"></div>
			<div class="breadcrumb-fullscreen-parent phone-menu-bg">
				<div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" th:style="'background-image: url(' + ${userD.getImage()} + ');'" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
					<div class="breadTxt">
						<h1 th:utext="${userD.getName()} + ' ' + ${userD.getLastName()}">

						</h1>
						<p th:utext="'User added ' + ${userAlbums.size()} + ' albums, ' + ${userArtists.size()} + ' artists, ' + ${userBiographies.size()} + ' biographies and ' +  ${userTracks.size()}  + ' tracks'">

						</p>
						<a href="#content" data-easing="easeInOutQuint" data-scroll="" data-speed="900" data-url="false">
							Go Below <i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =============== END BREADCRUMB ================ -->



	<!-- =============== START HOME-BLOG SECTION ================ -->
	<section class="padding background-properties blogHomeSection" style="background-image: url(/assets/img/blog/blog-home.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="sectionTitle paddingBottom">
						<h2>User Uploaded Last Tracks</h2>
					</div><!-- end sectionTtile -->
				</div><!-- end col-sm-12 -->
			</div>
			<div class="row">
				<div class="aqura-filter-content">
					<ul class="clearfix">
						<div class="jp-playlist">
							<div class="about-list clearfix">
								<span class="about-name" style="width: 60%;">NAME</span>
								<span class="about-length">LENGTH</span>
								<span class="about-available" style="display: block;">Action</span>
							</div>

							<div class="trak-item" th:data-audio="${track.getListenLink()}" th:data-artist="${track.getArtist().getName()}" th:data-thumbnail="${track.getImage()}" th:data-id="'trak-' + ${track.getId()}" th:each="track: ${userLastTracks}">
								<audio preload="metadata" th:src="${track.getListenLink()}" th:title="${track.getName()}"></audio>



								<div class="additional-button">
									<div class="center-y-table">

										<a th:href="${track.getDownloadLink()}" download>
											<i class="fa fa-download"></i>
										</a>

										<div th:data-id="${track.getId()}" th:class="'favorite' + ${(userFavorites.contains(track)) ? ' favorited' : ' not-favorited'}">
											<i class="fa fa-heart"></i>
										</div>
									</div>
								</div>

								<div class="additional-button">
									<div class="center-y-table">

										<div class="ffv">
											<i class="fa fa-arrow-circle-down"></i> <span th:utext="${track.getDownloads()}"></span>
										</div>

										<div class="ffv">
											<i class="fa fa-headphones"></i> <span th:utext="${track.getListens()}"></span>
										</div>
									</div>
								</div>


								<div class="play-pause-button">
									<div class="center-y-table">
										<i class="fa fa-play"></i>
									</div>
								</div>
								<div class="name-artist">
									<div class="center-y-table">
										<h2 th:utext="${track.getArtist().getName() + ' - ' + track.getName()}"> </h2>
									</div>
								</div>
								<time class="trak-duration" th:utext="${track.getFormattedDuration()}">

								</time>
							</div>
						</div>
					</ul>
				</div>
			</div><!-- end container -->
		</div><!-- end row -->
	</section>
	<!-- =============== END HOME-NLOG SECTION ================ -->



	<!-- =============== START ALBUM COVER SECTION ================ -->
	<section class="padding albumsHome">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="sectionTitle paddingBottom">
						<h2>User Added Last Albums</h2>
					</div><!-- end sectionTtile -->
				</div><!-- end col-sm-12 -->
			</div>
			<div class="list-albums">


				<ul class="list-feature col-md-12 col-xs-12 col-sm-12">
					<li class="col-md-3 col-sm-3 col-xs-12" th:each="album: ${userLastAlbums}">
						<div class="album-icon">
							<span class="thumbs-album">
								<a th:href="'/album?id=' + ${album.getId()}"><img style="width: 270px; height: 270px;" th:src="${album.getImage()}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
							<span class="disk" th:style="'background: url(' + ${album.getImage()} + ') no-repeat center center; border-radius: 100px;  background-size: cover; '"></span>
						</div><!-- END ALBUM ICON -->
						<div class="name">
							<h3 th:utext="${album.getName()}"></h3>
							<p><a th:href="'artist?id=' + ${album.getArtist().getId()}" th:utext="${album.getArtist().getName()}"></a> </p>
						</div><!-- end name -->
					</li>
				</ul>
			</div><!-- end list-albums -->
		</div><!-- end container -->
	</section>
	<!-- =============== END ALBUM COVER SECTION ================ -->

	<!-- =============== START HOME-BLOG SECTION ================ -->
	<section class="padding background-properties blogHomeSection" style="background-image: url(/assets/img/blog/blog-home.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="sectionTitle paddingBottom">
						<h2>User Added Last Artists</h2>
					</div><!-- end sectionTtile -->
				</div><!-- end col-sm-12 -->
			</div>
			<div class="row">
				<div class="aqura-filter-content">
					<ul class="clearfix">
						<li class="col-sm-4 col-xs-12" th:each="artist: ${userLastArtists}">
							<div class="blogBox">

								<div class="owl-carousel" th:if="${galleryRepository.findAllByArtist(artist).size() > 0}">
									<div class="item" th:each="image: ${galleryRepository.findAllByArtist(artist)}">
										<img th:src="${image.getImage()}" alt="">
									</div>
								</div>

								<div class="imgBox" th:if="${galleryRepository.findAllByArtist(artist).size() == 0}"><img th:src="${artist.getImage()}" alt="box-img"></div>

								<div class="blogBoxContent">
									<div class="blogHeader">
										<h1><a th:href="'/artist?id=' + ${artist.getId()}" th:utext="${artist.getName()}"></a></h1>
									</div>
									<div class="admin-list clearfix">
										<ul>
											<li th:utext="${artist.getFormattedBirthDate()}"></li>

										</ul>
									</div><!-- end admin-list -->
									<div class="blogParagraph">
										<p th:utext="${artist.getShortBiography(200)}"></p>
									</div><!--end blogParagraph  -->
									<div class="rmButton">
										<a th:href="'/artist?id=' + ${artist.getId()}">Read More</a>
									</div>
								</div><!-- end blogBoxContent -->
							</div><!-- end blogBox -->
						</li><!-- end col-sm-4 -->
					</ul>
				</div>
			</div><!-- end container -->
		</div><!-- end row -->
	</section>
	<!-- =============== END HOME-NLOG SECTION ================ -->

	<!-- =============== START GALLERY SECTION ================ -->
	<section class="padding gallerySection" id="content">
		<div class="container" style="padding:0;">
			<div class="sectionTitle paddingBottom">
				<span class="heading-t3"></span>
				<h2>Last Uploaded Gallery Images By User</h2>
				<span class="heading-b3"></span>
			</div>
			<div class="col-sm-12">

				<!-- Content Container -->
				<div class="content-container clearfix">
					<!-- Single Album Container -->
					<div class="single-photo-album-container">
						<div class="row">
							<!-- Single Album Article -->
							<article class="col-sm-4" th:each="image : ${userLastGallery}">
								<!-- Single Album Contant Container -->
								<figure>
									<!-- Single Album Image -->
									<figcaption>
										<div class="hovereffect">
											<img class="img-responsive" th:src="${image.getImage()}" alt="">
											<div class="overlay">
												<a th:href="'/gallery?id=' + ${image.getArtist().getId()}" class="info"></a>
											</div>
										</div>
									</figcaption>
								</figure>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end container -->
	</section>
	<!-- =============== END GALLERY SECTION ================ -->


</content>

<sc th:if="${cssSwitcher.isPermitted()}" th:fragment="endScript">

</sc>
</html>