<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="page-inner" th:fragment="content">
    <div class="col-md-4 center">
        <h1 class="text-xxl text-primary text-center">OOPS</h1>
        <div class="details">
            <h3>Nothing to show</h3>
            <p>Sorry page is not available now. Return <a href="/admin/home?action=profile">Profile</a>.</p>
        </div>
    </div>
    <copyright th:replace="admin/copyrightFooter:: content"></copyright>
</div>
<sc th:if="${cssSwitcher.isPermitted()}" th:fragment="endScript">
    <!-- Scripts are shown there-->
</sc>
</html>