<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.thymeleaf.org">

<div class="page-inner" th:fragment="content">
    <style>
        .small-img {
            width: 35px;
        }
    </style>
    <div class="page-title">
        <h3>Edit Gallery</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title" th:utext="${artist.getName()}"></h4>
                        <button type="button" class="btn btn-danger AllDelete pull-right" data-toggle="modal" data-target="#deleteAllModal">
                            Delete All
                        </button>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>User</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody th:each="image : ${images}" th:remove="tag">
                            <tr>
                                <th scope="row" th:text="${image.getId()}">*</th>
                                <td><a th:href="${image.getImage()}" target="_blank"><img th:src="${image.getImage()}" class="img-circle small-img" alt=""></a> </td>
                                <td th:text="${image.getUser().getName() + ' ' + image.getUser().getLastName()}"></td>
                                <td>
                                    <button type="button" class="btn btn-danger biographyDelete" data-toggle="modal" data-target="#deleteBiographyModal" th:imageid="${image.getId()}">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="btn-group" th:if="${!pages.isEmpty()}">

                            <a class="btn btn-default" th:each="p : ${pages}"
                               th:utext="((${p.isPrev()}) ? '<i class=\'fa fa-angle-left\'></i>  Prev' : ((${p.isBetween()}) ? '...' : ((${p.isNext()}) ? 'Next <i class=\'fa fa-angle-right\'></i>' : ${p.getPageNumber()})))"
                               th:classappend="((${p.isActive() and p.isDisabled()}) ? 'active disabled' : ((${p.isActive()}) ? 'active' : ((${p.isDisabled()}) ? 'disabled' : '')))"
                               th:href="'/admin/home?goTo=artists&page=' + ((${p.isPrev()}) ? ${currentPage - 1} : ((${p.isNext()}) ? ${currentPage + 1} : ${p.getPageNumber()})) + '&size=' + ${pageSize}"
                            ></a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteBiographyModal" tabindex="-1" role="dialog" aria-labelledby="deleteBiographyModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteBiographyModalLabel">Deleting Artist Gallery Image</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p>
                                                You are about to delete gallery image of artist.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="cancelDeleteBiography"class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" id="confirmDeleteBiography" biographyid="none" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Modal -->
                        <div class="modal fade" id="deleteAllModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteAllModalLabel">Deleting Artist Gallery</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p>
                                                You are about to delete all gallery of artist.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="cancelDeleteAll"class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" id="confirmDeleteAll" th:artistid="${artist.getId()}" th:userid="${(user.isAdmin()) ? 'none' : user.getId()}" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<sc th:if="${cssSwitcher.isPermitted()}" th:fragment="endScript">

    <script src="/adm/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="/adm/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>


    <style>
        th.normal_font {
            font-weight: normal;
            padding-left: 10px;
        }
        i.silver {
            color: #bfbcbc;
            font-size: 11px;
        }
        .select2-results__option--highlighted table tr th i.silver {
            color: #fff;
        }
        .customsize {
            min-height: 36px;
        }
        .select2-search__field {
            width: 100%!important;
        }
        #toast-container > div:hover{
            opacity: 1;
            box-shadow: 0px 0px 14px 0px #000;
            cursor: pointer;
        }
    </style>
    <script src="/adm/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/adm/assets/plugins/summernote-master/summernote.min.js"></script>
    <script src="/adm/assets/js/pages/form-elements.js"></script>

    <link href="/adm/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
    <link href="/adm/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css"/>
    <link href="/adm/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css"/>
    <!--<script src="/adm/assets/js/pages/form-select2.js"></script>-->
    <script src="/adm/assets/plugins/select2/js/select2.js"></script>
    <link href="/adm/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <script src="/adm/assets/js/pages/notifications.js"></script>
    <link href="/adm/assets/plugins/toastr/toastr.min.css" rel="stylesheet"/>
    <script src="/adm/assets/plugins/toastr/toastr.min.js"></script>

    <script type="text/javascript">

        //needs to fix bug
        var all_ = true;
        // end
        $(document).ready(function() {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


            $('.biographyDelete').on('click', function(){

                var imageId = $(this).attr('imageid');
                $('#confirmDeleteBiography').attr('imageId', imageId);

            });



            $('#confirmDeleteBiography').on('click', function(){

                var imageId = $(this).attr('imageid');

                if (imageId == 'none') {
                    document.getElementById("textmodal").innerHTML = "Invalid Image ID";
                    document.getElementById("modal_").click();
                } else {

                    $.post('/ajax/gallery', {
                        action: 'delete',
                        imageId: imageId
                    }, function(data, status) {

                        if (status == 'success') {
                            if (data.status == 'success') {
                                $('#cancelDeleteArtist').click();
                                toastr["success"]("Artist gallery was deleted successfuly.", "Success");

                                setTimeout(reload, 1500);
                            }  else if (data.status == 'error') {
                                $('#cancelDeleteArtist').click();
                                toastr["error"]("Error. " + data.error_code, "Oops");

                            } else {
                                $('#cancelDeleteArtist').click();
                                toastr["error"]("Error. Something went wrong.", "Oops");
                            }
                        } else {
                            $('#cancelDeleteArtist').click();
                            document.getElementById("submit").disabled = false;
                            document.getElementById("textmodal").innerHTML = "Error, I can't connect with the server...";
                            document.getElementById("modal_").click();
                        }
                    });
                }
                return false;
            });


            $('#confirmDeleteAll').on('click', function(){

                var artistId = $(this).attr('artistid');
                var userId = ($(this).attr('userid') != 'none') ? $(this).attr('userid') : null;

                if (artistId == 'none') {
                    document.getElementById("textmodal").innerHTML = "Invalid Artist ID";
                    document.getElementById("modal_").click();
                } else {

                    $.post('/ajax/gallery', {
                        action: 'deleteAll',
                        artistId: artistId,
                        userId: userId
                    }, function(data, status) {

                        if (status == 'success') {
                            if (data.status == 'success') {
                                $('#cancelDeleteArtist').click();
                                toastr["success"]("Artist gallery was deleted successfuly.", "Success");

                                setTimeout(goTo, 1500, data.redirect);
                            }  else if (data.status == 'error') {
                                $('#cancelDeleteArtist').click();
                                toastr["error"]("Error. " + data.error_code, "Oops");

                            } else {
                                $('#cancelDeleteArtist').click();
                                toastr["error"]("Error. Something went wrong.", "Oops");
                            }
                        } else {
                            $('#cancelDeleteArtist').click();
                            document.getElementById("submit").disabled = false;
                            document.getElementById("textmodal").innerHTML = "Error, I can't connect with the server...";
                            document.getElementById("modal_").click();
                        }
                    });
                }
                return false;
            });

            function reload() {
                location.reload();
            }

            function goTo(redirect) {
                location.href = redirect;
            }

        });
    </script>
</sc>
</html>